@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Oswald:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: rgb(12, 34, 99);
  --backgroundG: linear-gradient(
    190deg,
    rgba(12, 34, 99, 1) 0%,
    rgba(1, 3, 19, 1) 97%
  );
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  background: var(--backgroundG);
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}
.main {
  width: 500px;
  background: #19223c;
  padding: 20px;
}
.logic {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 20px;
}
.logic button {
  background: linear-gradient(100deg, #3a5abb, #182fda);
  border: none;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}
.logic button:hover {
  transform: scale(1.07);
  cursor: pointer;
}
.display {
  margin-top: 20px;
  color: #fff;
}
.displayBody {
  margin: 20px 0;
}
.displayName {
  display: inline;
  border-top: 1px solid rgb(214, 214, 214);
}
